PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_URL=
AUTH_SERVICE_URL=
SOAL_SERVICE_URL=

CORS_URL=
COOKIE_DOMAIN=

ENVIRONMENT=
REDIS_ADDR=
KAFKA_BROKERS=
KAFKA_ANSWER_TOPIC=
KAFKA_SCORING_TOPIC=

