@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neutral-25: #fcfcfd;
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #eef2f6;
  --color-neutral-200: #e3e8ef;
  --color-neutral-300: #cdd5df;
  --color-neutral-400: #9aaab2;
  --color-neutral-500: #697586;
  --color-neutral-600: #4b5565;
  --color-neutral-700: #364152;
  --color-neutral-800: #202939;
  --color-neutral-900: #121926;

  --color-primary-25: #f5f8ff;
  --color-primary-50: #eef4ff;
  --color-primary-100: #d1e0ff;
  --color-primary-200: #b2ccff;
  --color-primary-300: #84adff;
  --color-primary-400: #528bff;
  --color-primary-500: #2970ff;
  --color-primary-600: #155eef;
  --color-primary-700: #004eeb;
  --color-primary-800: #0040c1;
  --color-primary-900: #00359e;

  --color-primary-new-25: #1c1c1e;
  --color-primary-new-50: #999ddd;
  --color-primary-new-100: #7878c9;
  --color-primary-new-200: #5454ba;
  --color-primary-new-300: #3f3f8c;
  --color-primary-new-400: #303078;
  --color-primary-new-500: #212152;
  --color-primary-new-600: #131327;
  --color-primary-new-700: #070712;
  --color-primary-new-800: #ededf8;
  --color-primary-new-900: #e6e6f5;

  --color-secondary: #0479CE;
  --color-secondary-25: #fcfcfd;
  --color-secondary-50: #f8fafc;
  --color-secondary-100: #eef2f6;
  --color-secondary-200: #e3e8ef;
  --color-secondary-300: #cdd5df;
  --color-secondary-400: #9aa4b2;
  --color-secondary-500: #697586;
  --color-secondary-600: #4b5565;
  --color-secondary-700: #364152;
  --color-secondary-800: #202939;
  --color-secondary-900: #121926;

  --color-secondary-new-25: #abbae3;
  --color-secondary-new-50: #849ad6;
  --color-secondary-new-100: #5e7bca;
  --color-secondary-new-200: #3d5eb8;
  --color-secondary-new-300: #172345;
  --color-secondary-new-400: #24376b;
  --color-secondary-new-500: #304a91;
  --color-secondary-new-600: #0a101f;
  --color-secondary-new-800: #f7f9fc;
  --color-secondary-new-900: #d1d9f0;

  --color-success-25: #f6fef9;
  --color-success-50: #edfdf2;
  --color-success-100: #d3fbdf;
  --color-success-200: #AAFOC4;
  --color-success-300: #73e2a3;
  --color-success-400: #3ecf8e;
  --color-success-500: #16b364;
  --color-success-600: #099250;
  --color-success-700: #087443;
  --color-success-800: #095c37;
  --color-success-900: #064c2e;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/*
  ---break---
*/

:root {
  --radius: 0.6rem;
}

/*
  ---break---
*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
